{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Carlos Rodrigo</h2>   
        <p>Naci en el municipio de Xonacatlán, actualmente estudio en la Universidad Tecnologica del Valle de Toluca </p>
        <p>Realice mis estadias en la Empresa Autotransportes Flecha Roja</p>
    </div>
</div>
{% endblock %}
