{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Curso</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>💻 Creación de páginas web funcionales con fundamentos sólidos en diseño y desarrollo, complementadas con la integración de inteligencia artificial para soluciones innovadoras.</p>
        <p>💻 Desarrollo de un carrito de compras optimizado para la gestión y venta de productos, diseñado para mejorar la experiencia del usuario y facilitar el proceso de compra.</p>
            
        <br>
        <p><b>Teléfono:</b> +09 876 543 210</p>
        <p><b>Honorarios:</b> 5000000 (precio base)</p>
    </div>
</div>
{% endblock %}

